.code-container {
	padding: 0 10px;
	resize: none;
}

.code{
	height: calc(100vh - 75px);
	padding: 10px;
	font-size: 20px;
	width: 100%;
	white-space: pre-wrap;
	border: 1px solid black;
	overflow-y: auto;
}

.keyword {
	color: blue;
}
